{% extends "base.html" %}

{% block titulo%}
REGISTRAR BOLETAS
{% endblock%}


{% block contenido %}

<style>
    .selected:focus {
        color: #6e707e;
        background-color: #fff;
        border-color: #bac8f3;
        outline: 0;
        box-shadow: 0 0 0 .2rem rgba(78, 115, 223, .25)
    }

    .btn-check {
        position: absolute;
        clip: rect(0, 0, 0, 0);
        pointer-events: none
    }

    .btn-check:disabled + .btn, .btn-check[disabled] +
</style>

<style>
    .rinputGroup {
        background-color: #fff;
        display: block;
        margin: 10px 0;
        position: relative;
    }

    .rinputGroup label {
        padding: 12px 30px;
        width: 100%;
        display: block;
        text-align: left;
        color: #3c454c;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
    }

    .rinputGroup label:before {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        content: "";
        background-color: #5562eb;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale3d(1, 1, 1);
        transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
        opacity: 0;
        z-index: -1;
    }

    .rinputGroup label:after {
        width: 32px;
        height: 32px;
        content: "";
        border: 2px solid #d1d7dc;
        background-color: #fff;
        background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.414 11L4 12.414l5.414 5.414L20.828 6.414 19.414 5l-10 10z' fill='%23fff' fill-rule='nonzero'/%3E%3C/svg%3E ");
        background-repeat: no-repeat;
        background-position: 2px 3px;
        border-radius: 50%;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        transition: all 200ms ease-in;
    }

    .rinputGroup input:checked ~ label {
        color: #fff;
    }

    .rinputGroup input:checked ~ label:before {
        transform: translate(-50%, -50%) scale3d(56, 56, 1);
        opacity: 1;
    }

    .rinputGroup input:checked ~ label:after {
        background-color: #54e0c7;
        border-color: #54e0c7;
    }

    .rinputGroup input {
        width: 32px;
        height: 32px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }


</style>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<link rel="stylesheet" href="style.css">

<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $(".alert").fadeOut(1500);
        }, 3000);

        setTimeout(function () {
            $(".content2").fadeIn(1500);
        }, 6000);
    });
</script>


{% with messages = get_flashed_messages() %}
{% if messages %}

{% for message in messages %}
<script>
    swal({

        title: "¡Hecho!",
        text: "{{ message }}",
        icon: "success",
        timer: 1500,
        buttons: false,

    });
</script>
{% endfor %}

{% endif %}
{% endwith %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/inputmask/inputmask.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/css/inputmask.min.css" rel="stylesheet"/>

{% for consultaedit in consultaedit %}

<div class="container-fluid">
    <div class="card shadow mb-4"
         style="margin-left: 130px !important; margin-top: 100px !important; width: 80% !important; font-size: 12px !important; ">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Boleta °{{consultaedit[0]}} en edición</h6>
        </div>
        <div class="card-body">

            <div class="container text-center">

                <form class="user" action="/nuevoPrestadores" method="post">

                    <div class="row">
                        <div class="form-group col-4">
                        <input placeholder="Orden" name="orden" readonly
                               class="form-control form-control-user" value="{{consultaedit[6]}}">
                    </div>
                    </div>

                <div class="row">

                    <div class="form-group col-4">
                        <input placeholder="Número de boleta" name="boleta" required autofocus
                               class="form-control form-control-user" value="{{consultaedit[0]}}">
                    </div>

                    <div class="form-group col-4">
                        <input value="{{consultaedit[4]}}" type="date" class="form-control form-control-user"
                               id="fecha" placeholder=""
                               name="fecha" required value="">
                    </div>

                    <div class="form-group col-4">
                        <select value="{{consultaedit[11]}}" style="border-color: #d1d3e2 !important; padding:.375rem .75rem; color: #6e707e; height: 49px!important;"
                                class="selected col-12 form-select form-control-user" id="cobertura"
                                placeholder="Cobertura del paciente" name="cobertura"
                                required>

                            <option  disabled="disabled">Seleccione cobertura del paciente</option>
                            <option value="particular"> Particular
                            </option>
                            <option value="seguro"> Seguro
                            </option>
                        </select>
                    </div>

                </div>
                <div class="row">

                    <div class="form-group col-6">

                        <select style="border-color: #d1d3e2 !important; padding:.375rem .75rem; color: #6e707e; height: 49px!important;"
                                class="d-inline-block selected form-control-user form-select col-12"
                                aria-label="Default select example" id="especialistas"
                                name="especialista"
                                required>
                            <option selected value="{{consultaedit[2]}}"> {{consultaedit[7]}} {{consultaedit[8]}} -
                            {{consultaedit[9]}} - {{consultaedit[2]}}
                        </option>

                            <option disabled="disabled">Seleccione al/la especialista</option>

                            {% for especialistas in especialistas %}
                            <option value="{{especialistas[0]}}"> {{especialistas[1]}} {{especialistas[2]}} -
                                {{especialistas[3]}} - {{especialistas[0]}}
                            </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="form-group col-6">

                        <input value="{{consultaedit[12]}}" onkeyup="this.value = this.value.toUpperCase();" type="text"
                               class="d-inline-block col-12 form-control form-control-user"
                               id="concepto"
                               placeholder="Por concepto de..." name="concepto" required autofocus>
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-6">
                        <input value="{{consultaedit[1]}}" onkeyup="formatRunespecialista(this)" placeholder="Digite RUN sin puntos ni guión"
                               type="text"
                               name="cliente" id="cliente"
                               class="form-control form-control-user" maxlength="12"
                        >
                    </div>
                    <div class="form-group col-6">
                        <input value="{{consultaedit[10]}}" onkeyup="this.value = this.value.toUpperCase();" type="text"
                               class="form-control form-control-user"
                               id="nombre_paciente"
                               placeholder="Nombre del paciente" name="nombre_paciente" required>
                    </div>

                </div>
                <br>
                <br>

                <div class="row">

                    <div class="col-sm-6 d-inline">

                        <div class="card" style="border-radius: 25px;">

                            <div class="card-body">

                                Tipo de Procedimiento
                                <br>
                                <br>
                                <div class="row">
                                    <div class="rinputGroup col-12">
                                        <input required style="border-radius: 35px; " id="dental" name="tipo"
                                               type="radio"/>
                                        <label style="border-radius: 35px; " for="dental">Dental</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="rinputGroup col-12">
                                        <input required style="border-radius: 35px !important;" id="estetica"
                                               name="tipo"
                                               type="radio"/>
                                        <label style="border-radius: 35px; " for="estetica">Estética</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SELECTOR METODO DE PAGO -->
                    <div class="col-sm-6 d-inline">
                        <div class="card" style="border-radius: 25px;">

                            <div class="card-body">

                                Método de Pago
                                <br>
                                <br>
                                <div class="row">
                                    <div class="rinputGroup col-6">
                                        <input required style="border-radius: 35px !important;"
                                               style="border-radius: 35px; " id="debito" name="metodo" type="radio"/>
                                        <label style="border-radius: 35px; " for="debito">Débito</label>
                                    </div>
                                    <div class="rinputGroup col-6">
                                        <input required style="border-radius: 35px !important;"
                                               style="border-radius: 35px; " id="credito" name="metodo" type="radio"/>
                                        <label style="border-radius: 35px; " for="credito">Crédito</label>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="rinputGroup col-6">
                                        <input required style="border-radius: 35px !important;"
                                               style="border-radius: 35px; " id="efectivo" name="metodo" type="radio"/>
                                        <label style="border-radius: 35px; " for="efectivo">Efectivo</label>
                                    </div>
                                    <div class="rinputGroup col-6">
                                        <input required style="border-radius: 35px !important;"
                                               style="border-radius: 35px; " id="transferencia" name="metodo"
                                               type="radio"/>
                                        <label style="border-radius: 35px; " for="transferencia">Transferencia</label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>

                </div>


                <br>
                <br>


                <div class="row text-center justify-content-center">

                     <a style="margin-right: 20px;" href="/registroBoletas" type="submit" class="btn btn-secondary btn-user col-3"
                   name="guardar">Cancelar</a>


                    <button type="submit" class="btn btn-facebook btn-user col-5"
                            style="display: inline-block !important; margin-left: 20px;">
                        Guardar Cambios
                    </button>

                </div>

            </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}


<script type="text/javascript">
    function formatCliente(cliente) {
        cliente.value = cliente.value.replace(/[.-]/g, '')
            .replace(/^(\d{1,2})(\d{3})(\d{3})(\w{1})$/, '$1.$2.$3-$4')
    }
</script>


<script>
    document.getElementById('fecha').value = new Date().toISOString().substring(0, 10);

</script>
<!-- jquery y bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>

<!-- datatables con bootstrap -->
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap5.min.js"></script>

<!-- Para usar los botones -->
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>


{% endblock %}